<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.geolocationplugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GeolocationPlugin</name>
    <js-module name="GeolocationPlugin" src="www/GeolocationPlugin.js">
        <clobbers target="cordova.plugins.GeolocationPlugin" />
    </js-module>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GeolocationPlugin">
                <param name="android-package" value="com.outsystems.geolocationplugin.GeolocationPlugin" />
            </feature>
        </config-file>
        
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
        </config-file>
        
        <source-file src="src/android/GeolocationPlugin.java" target-dir="src/com/outsystems/geolocationplugin" />
    </platform>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="GeolocationPlugin">
                <param name="ios-package" value="GeolocationPlugin" />
            </feature>
        </config-file>
        <dependency url="https://github.com/osbrunomartins/cordova-plugin-add-swift-support" id="cordova-plugin-add-swift-support"/>

        <source-file src="src/ios/GeolocationPlugin.swift" />

        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>"Our app needs permissions to access your location."</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>"Our app needs permissions to access your location."</string>
        </config-file>
        
    </platform>
</plugin>